/*  COLORS  */

$text-color: #34334A;
$primary-background: #161B1C;
$chat-background: #0A0E0F;
$send-message-background: #48A5C5;
$received-message-background: #252B2E;
$text-send-color: $chat-background;
$text-received-color: #959799;

$input-background: #202427;
$primary-accent:#48A5C3;
$secondory-accent:#787A7B;

$white: #fff;
$unread-background: #1C42B2;
$read-background: #C6C6C6;

$correct: #62f809;